<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style_transfer.css">
    <link rel="stylesheet" href="../styles/nav_bar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.js"
        integrity="sha512-53y53BQwxZvk4YGd9SkHPqI7nDwlIIFZ4D2BSJG08Co7y6O3YsWeRtO6trPtdoyqfTCTkTbCulNosIAI6E4UvQ=="
        crossorigin="anonymous"></script>
    <title>SR GAN</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm pt-3">

        <div class="container-fluid">

            <div class="navbar-header ps-lg-5">
                <a href="./index.html">GAN-DEMO</a>
            </div>

            <div class="navbar-contents justify-content-evenly ps-lg-5">
                <ul class="navbar-nav ps-lg-5">

                    <li class="nav-item pe-lg-4 ps-lg-4">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>

                    <li class="nav-item pe-lg-4 ps-lg-4">
                        <a class="nav-link" href="./style_transfer.html">Style Transfer</a>
                    </li>

                    <li class="nav-item pe-lg-4 ps-lg-4">
                        <a class="nav-link" href="./dc_gan.html">DC-GAN</a>
                    </li>

                    <li class="nav-item pe-lg-4 ps-lg-4">
                        <a id="clicked" class="nav-link" href="./sr_gan.html">SR-GAN</a>
                    </li>

                    <li class="nav-item pe-lg-4 ps-lg-4">
                        <a class="nav-link" target="_blank" href="https://github.com/maxDeCoder/Gen_ML_sem_4">GitHub</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <hr>

    <div class="container-one">
        <form action="">
            <section>
                <div class="upload-section">
                    <input type="file" name="img0" id="actual-btn" accept="image/*" onchange="readURL(event,0)"
                        hidden />
                    <label for="actual-btn" id="upload-btn">UPLOAD IMAGE</label>
                    <img src="#" id="img-upload" alt="Your Uploaded Image" width="450" height="600" hidden>
                </div>
                <div class="upload-section">
                    <img src="#" id="sr_gan_img" alt="super resolution image">
                </div>
            </section>
            <div class="center-placer">
                <button type="submit" class="btn btn-primary" id="generate-btn">GENERATE</button>
            </div>
        </form>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    <script>
        const output = Qs.parse(location.search, {
            ignoreQueryPrefix: true
        }).output;

        // src=`/img/${filename}`

        function readURL(event, mode) {
            console.log(URL.createObjectURL(event.target.files[0]));
            if (mode === 0) {
                document.getElementById('img-upload').src = URL.createObjectURL(event.target.files[0]);
                document.getElementById('img-upload').hidden = false;
                document.getElementById('upload-btn').hidden = true;
                document.getElementsByClassName('upload-section')[1].style.padding = '0px';
                document.getElementsByClassName('upload-section')[1].style.border.radius = '0px';
            } else {
                document.getElementById('img-upload1').src = URL.createObjectURL(event.target.files[0]);
                document.getElementById('img-upload1').hidden = false;
                document.getElementById('upload-btn1').hidden = true;
                document.getElementsByClassName('upload-section')[0].style.padding = '0px';
                document.getElementsByClassName('upload-section')[0].style.border.radius = '0px';
            }
        }

        if (output) {
            // if the filename is there, then remove the form and add a new dom element with lr and hr image
            // input = "SRGAN_input.png", output = "SRGAN_output.png"
            // input dims = 128, 128, output_dims = 256, 256 -> fix both to 256
        }
    </script>
</body>

</html>